<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <title>P.E.A.R.L.</title>

    <!-- Bootstrap -->
    <!--link href = "css/bootstrap.min.css" rel = "stylesheet"-->
    <link href = "css/bootstrap.css" rel = "stylesheet">
    <link href = "css/custom.css" rel = "stylesheet">
    <link rel = "stylesheet" href = "css/font-awesome-4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Exo|Exo+2' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script-->
    <!--script type = "text/javascript" src = "js/custom.js"></script-->
    <script src = "js/jquery-2.2.3.js"></script>
    <script src = "js/bootstrap.min.js"></script>
    <!--script src = "js/getMeta.js"></script-->
</head>
<body>

    <!-- NAVIGATION BAR -->
	<div class = "navbar navbar-default navbar-fixed-top" role = "navigation">
    		<div class = "container">
    			<div class = "navbar-header">
    				<button type = "button" class = "navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    					<!-- for screen readers -->
    					<span class = "sr-only">Toggle navigation</span>
    					<span class = "icon-bar"></span>
    					<span class = "icon-bar"></span>
    					<span class = "icon-bar"></span>
    				</button>
    				<a class = "navbar-brand" href = "/">Parasite Extinction Assessment and Red List</a>
    			</div>

    			<div class = "navbar-collapse collapse">
    				<ul class = "nav navbar-nav navbar-right">
    					<li><a href = "/">Home</a></li>
    					<li><a href = "/team">Team</a></li>
                        <li class = "dropdown active"><a href = "#" class = "dropdown-toggle" data-toggle="dropdown">Species Pages<b class = "caret"></b></a>
                            <ul class = "dropdown-menu">
                                <li><a href = "#">Species: <i><%= title %></i></a></li>
                                <li><a href = "/abha">Species: <i>Abbreviata hastaspicula</i></a></li>
                            </ul>
                        </li>
                    </ul>
    			</div>
    		</div>
    	</div>

    <!-- Jumbotron -->
    <div class = "container-fluid stat-section">
        <div id = "top-push-top"></div>
        <div class = "row">
        	<div class = "container">
                <div class = "row">
                    <div class = "col-md-12">
                        <h1 style = "text-align: left"><i style = "font-size: 150%"><%= title %></i></h1>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-md-2">
                        <h3 style = "text-align: left"><strong><%= clade %></strong></h3>
                    </div>
                    <div class = "col-md-3">
                        <h3 style = "text-align: left">Source: <strong><%= source %></strong></h3>
                    </div>
                    <div class = "col-md-7"></div>
                </div>
                <div class = "row info1-words1">
                    <div class = "col-md-4 cibi-hloss-box" data-toggle = "tooltip" data-placement = "top" title = "'Native habitat' assumes parasites have zero capacity for dispersal from regions they already occupy.">
                        <br>
                        <h1 style = "text-align: center"><strong style = "font-size: 175%">-82%</strong></h1>
                        <br>
                    </div>
                    <div class = "col-md-4 cibi-erisk-box" data-toggle = "tooltip" data-placement = "top" title = "'Global habitat' assumes optimistically that parasites can disperse to any suitable habitat within continents which they have previously been documented on.">
                        <br>
                        <h1 style = "text-align: center"><strong style = "font-size: 175%">-66%</strong></h1>
                        <br>
                    </div>
                    <div class = "col-md-4 cibi-cstatus-box" data-toggle = "tooltip" data-placement = "top" title = "IUCN categories used in our assessment are least concern (LC), vulnerable (VU), endangered (EN), and critically endangered (CR).">
                        <br>
                        <h1 style = "text-align: center"><strong style = "font-size: 175%">CR</strong></h1>
                        <br>
                    </div>
                </div>
                <div class = "row info1-words2">
                    <div class = "col-md-4 cibi-hloss-words">
                        <h3 style = "text-align: center">Net Change in Native Habitat</h3>
                    </div>
                    <div class = "col-md-4 cibi-erisk-words">
                        <h3 style = "text-align: center">Net Change in Global Habitat</h3>
                    </div>
                    <div class = "col-md-4 cibi-cstatus-words">
                        <h3 style = "text-align: center">Suggested IUCN Red Listing</h3>
                    </div>
                </div>
                <div class = "row info1-alt">
                    <div class = "col-md-4">
                        <br>
                        <h1 class = "cibi-hloss-box" style = "text-align: center" data-toggle = "tooltip" data-placement = "top" title = "'Native habitat' assumes parasites have zero capacity for dispersal from regions they already occupy."><strong style = "font-size: 175%">-82%</strong></h1>
                        <br>
                        <h3 class = "cibi-hloss-words" style = "text-align: center">Net Change in Native Habitat</h3>
                    </div>
                    <div class = "col-md-4">
                        <br>
                        <h1 class = "cibi-erisk-box" style = "text-align: center" data-toggle = "tooltip" data-placement = "top" title = "'Global habitat' assumes optimistically that parasites can disperse to any suitable habitat within continents which they have previously been documented on."><strong style = "font-size: 175%">-66%</strong></h1>
                        <br>
                        <h3 class = "cibi-erisk-words" style = "text-align: center">Net Change in Global Habitat</h3>
                    </div>
                    <div class = "col-md-4">
                        <br>
                        <h1 class = "cibi-cstatus-box" style = "text-align: center" data-toggle = "tooltip" data-placement = "top" title = "IUCN categories used in our assessment are least concern (LC), vulnerable (VU), endangered (EN), and critically endangered (CR)."><strong style = "font-size: 175%">CR</strong></h1>
                        <br>
                        <h3 class = "cibi-cstatus-words" style = "text-align: center">Suggested IUCN Red Listing</h3>
                    </div>
                </div>
                <div class = "row info2-words1">
                    <div class = "col-md-3 cibi-TSS-box" data-toggle = "tooltip" data-placement = "top" title = "The Hanssen-Kuiper Skill statistic or true skill statistic ranges from -1 to +1, where 0 represents no skill, and is (sensitivity + specificity - 1).">
                        <br>
                        <h1 style = "text-align: center"><strong style = "font-size: 150%" >0.93</strong></h1>
                        <br>
                    </div>
                    <div class = "col-md-3 cibi-AUC-box" data-toggle = "tooltip" data-placement = "top" title = "The AUC is the area under the receiver-operating characteristic curve which compares correct and false positive rates with different cutoffs, and ranges from 0 to 1.">
                        <br>
                        <h1 style = "text-align: center"><strong style = "font-size: 150%">0.97</strong></h1>
                        <br>
                    </div>
                    <div class = "col-md-3 cibi-points-box" data-toggle = "tooltip" data-placement = "top" title = "The number of points used in niche models is classified by quantile from the entire sample of species in the study, as: fair (0-25%), average (25-50%), good (50-75%) or excellent (75-100%).">
                        <br>
                        <h1 style = "text-align: center"><strong style = "font-size: 150%">Fair</strong></h1>
                        <br>
                    </div>
                    <div class = "col-md-3 cibi-uncertain-box" data-toggle = "tooltip" data-placement = "top" title = "The average uncertainty radius of points used to generate niche models is classified by quantile from the entire sample of species in the study, as: fair (0-25%), average (25-50%), good (50-75%) or excellent (75-100%).">
                        <br>
                        <h1 style = "text-align: center"><strong style = "font-size: 150%">Good</strong></h1>
                        <br>
                    </div>
                </div>
                <div class = "row info2-words2">
                    <div class = "col-md-3 cibi-TSS-words">
                        <h3 style = "text-align: center">True Skill Statistic</h3>
                    </div>
                    <div class = "col-md-3 cibi-AUC-words">
                        <h3 style = "text-align: center">Area Under Curve</h3>
                    </div>
                    <div class = "col-md-3 cibi-points-words">
                        <h3 style = "text-align: center">Data Quality</h3>
                    </div>
                    <div class = "col-md-3 cibi-uncertain-words">
                        <h3 style = "text-align: center">Model Uncertainty</h3>
                    </div>
                </div>
                <div class = "row info2-alt">
                    <div class = "col-md-3">
                        <br>
                        <h1 class = "cibi-TSS-box" style = "text-align: center" data-toggle = "tooltip" data-placement = "top" title = "The Hanssen-Kuiper Skill statistic or true skill statistic ranges from -1 to +1, where 0 represents no skill, and is (sensitivity + specificity - 1)."><strong style = "font-size: 200%">50%</strong></h1>
                        <br>
                        <h2 class = "cibi-TSS-words" style = "text-align: center">True Skill Statistic</h2>
                    </div>
                    <div class = "col-md-3">
                        <br>
                        <h1 class = "cibi-AUC-box" style = "text-align: center" data-toggle = "tooltip" data-placement = "top" title = "The AUC is the area under the receiver-operating characteristic curve which compares correct and false positive rates with different cutoffs, and ranges from 0 to 1."><strong style = "font-size: 200%">50%</strong></h1>
                        <br>
                        <h2 class = "cibi-AUC-words" style = "text-align: center">Area Under Curve</h2>
                    </div>
                    <div class = "col-md-3">
                        <br>
                        <h1 class = "cibi-points-box" style = "text-align: center" data-toggle = "tooltip" data-placement = "top" title = "The number of points used in niche models is classified by quantile from the entire sample of species in the study, as: fair (0-25%), average (25-50%), good (50-75%) or excellent (75-100%)."><strong style = "font-size: 200%">Fair</strong></h1>
                        <br>
                        <h2 class = "cibi-points-words" style = "text-align: center">Data Quality</h2>
                    </div>
                    <div class = "col-md-3">
                        <br>
                        <h1 class = "cibi-uncertain-box" style = "text-align: center" data-toggle = "tooltip" data-placement = "top" title = "The average uncertainty radius of points used to generate niche models is classified by quantile from the entire sample of species in the study, as: fair (0-25%), average (25-50%), good (50-75%) or excellent (75-100%)."><strong style = "font-size: 200%">Good</strong></h1>
                        <br>
                        <h2 class = "cibi-uncertain-words" style = "text-align: center">Model Uncertainty</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id = "top-push-bottom"></div>
    </div>

    <div class = "container-fluid img-section">
        <div class = "row">
        	<div class = "container">
                <!--div class = "row">
                    <div class = "col-md-6 curr-dist">
                        <h2 style = "color: #fff">Current Distribution</h2>
                        <a href = "img/cibi/current_cibi.png"><img src = "img/cibi/current_cibi.png" class = "img-responsive" alt="Current Distribution"></a>
                    </div>
                    <div id = "cibi-45" class = "col-md-6 future-dist">
                        <h2 id = "cibi-45-header" style = "color: #fff">Future Distribution <small style = "color: rgba(238, 238, 238, 0.8);">(ACCESS 4.5)</small></h2>
                        <a href = "img/cibi/future45_cibi.png"><img src = "img/cibi/future45_cibi.png" class = "img-responsive" alt="Future Distribution Access 4.5"></a>
                    </div>
                    <div id = "cibi-85" class = "col-md-6 future-dist" style = "display: none">
                        <h2 id = "cibi-85-header" style = "color: #fff; display: none">Future Distribution <small style = "color: rgba(238, 238, 238, 0.8);">(ACCESS 8.5)</small></h2>
                        <a href = "img/cibi/future85_cibi.png"><img src = "img/cibi/future85_cibi.png" class = "img-responsive" alt="Future Distribution Access 8.5"></a>
                    </div>
                </div-->
                <div class = "row">
                    <div class = "col-md-8">
                        <div class = "row">
                            <div class = "col-md-12 curr-dist">
                                <h2 style = "color: #fff">Current Distribution</h2>
                                <a href = "img/cibi/current_cibi.png" data-toggle = "tooltip" data-placement = "top" title = "Over current range map: Ecological niche models are built from occurrence data and bioclimatic variables, using an ensemble of general linear models, artificial neural networks, maximum entropy and random forests."><img src = "img/cibi/current_cibi.png" class = "img-responsive" alt="Current Distribution"></a>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-12 future-dist">
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h2 style = "color: #fff">Future Distribution </h2>
                                    </div>
                                    <div class = "col-md-3">
                                        <h2 id = "ac-45-header"><small style = "color: rgba(238, 238, 238, 0.9);">(ACCESS 4.5)</small></h2>
                                        <h2 id = "ac-85-header" style = "display: none"><small style = "color: rgba(238, 238, 238, 0.9);">(ACCESS 8.5)</small></h2>
                                        <h2 id = "he-26-header" style = "display: none"><small style = "color: rgba(238, 238, 238, 0.9);">(HadGEM2-ES 2.6)</small></h2>
                                        <h2 id = "he-45-header" style = "display: none"><small style = "color: rgba(238, 238, 238, 0.9);">(HadGEM2-ES 4.5)</small></h2>
                                        <h2 id = "he-60-header" style = "display: none"><small style = "color: rgba(238, 238, 238, 0.9);">(HadGEM2-ES 6.0)</small></h2>
                                        <h2 id = "he-85-header" style = "display: none"><small style = "color: rgba(238, 238, 238, 0.9);">(HadGEM2-ES 8.5)</small></h2>
                                        <h2 id = "cc-26-header" style = "display: none"><small style = "color: rgba(238, 238, 238, 0.9);">(CCSM4 2.6)</small></h2>
                                        <h2 id = "cc-45-header" style = "display: none"><small style = "color: rgba(238, 238, 238, 0.9);">(CCSM4 4.5)</small></h2>
                                        <h2 id = "cc-60-header" style = "display: none"><small style = "color: rgba(238, 238, 238, 0.9);">(CCSM4 6.0)</small></h2>
                                        <h2 id = "cc-85-header" style = "display: none"><small style = "color: rgba(238, 238, 238, 0.9);">(CCSM4 8.5)</small></h2>


                                    </div>
                                    <div class = "col-md-6"></div>
                                </div>
                                <a id = "ac-45" href = "img/abba/ac45_abba.png" data-toggle = "tooltip" data-placement = "top" title = "Over future range map: Future forecasts are calculated for a particular combination of global climate model and representative concentration pathway, and summary statistics are averaged across climate scenarios."><img src = "img/abba/ac45_abba.png" class = "img-responsive" alt="Future Distribution Access 4.5"></a>
                            </div>
                            <div class = "col-md-12 future-dist">
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h2 style = "color: #fff; display: none">Future Distribution</h2>
                                    </div>
                                    <div class = "col-md-6"></div>
                                </div>
                                <a id = "ac-85" style = "display: none" href = "img/abba/ac85_abba.png" data-toggle = "tooltip" data-placement = "top" title = "Over future range map: Future forecasts are calculated for a particular combination of global climate model and representative concentration pathway, and summary statistics are averaged across climate scenarios."><img src = "img/abba/ac85_abba.png" class = "img-responsive" alt="Future Distribution Access 8.5"></a>
                            </div>
                            <div class = "col-md-12 future-dist">
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h2 style = "color: #fff; display: none">Future Distribution</h2>
                                    </div>
                                    <div class = "col-md-6"></div>
                                </div>
                                <a id = "he-26" style = "display: none" href = "img/abba/he26_abba.png" data-toggle = "tooltip" data-placement = "top" title = "Over future range map: Future forecasts are calculated for a particular combination of global climate model and representative concentration pathway, and summary statistics are averaged across climate scenarios."><img src = "img/abba/he26_abba.png" class = "img-responsive" alt="Future Distribution He 2.6"></a>
                            </div>
                            <div class = "col-md-12 future-dist">
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h2 style = "color: #fff; display: none">Future Distribution</h2>
                                    </div>
                                    <div class = "col-md-6"></div>
                                </div>
                                <a id = "he-45" style = "display: none" href = "img/abba/he45_abba.png" data-toggle = "tooltip" data-placement = "top" title = "Over future range map: Future forecasts are calculated for a particular combination of global climate model and representative concentration pathway, and summary statistics are averaged across climate scenarios."><img src = "img/abba/he45_abba.png" class = "img-responsive" alt="Future Distribution He 4.5"></a>
                            </div>
                            <div class = "col-md-12 future-dist">
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h2 style = "color: #fff; display: none">Future Distribution</h2>
                                    </div>
                                    <div class = "col-md-6"></div>
                                </div>
                                <a id = "he-60" style = "display: none" href = "img/abba/he60_abba.png" data-toggle = "tooltip" data-placement = "top" title = "Over future range map: Future forecasts are calculated for a particular combination of global climate model and representative concentration pathway, and summary statistics are averaged across climate scenarios."><img src = "img/abba/he60_abba.png" class = "img-responsive" alt="Future Distribution He 6.0"></a>
                            </div>
                            <div class = "col-md-12 future-dist">
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h2 style = "color: #fff; display: none">Future Distribution</h2>
                                    </div>
                                    <div class = "col-md-6"></div>
                                </div>
                                <a id = "he-85" style = "display: none" href = "img/abba/he85_abba.png" data-toggle = "tooltip" data-placement = "top" title = "Over future range map: Future forecasts are calculated for a particular combination of global climate model and representative concentration pathway, and summary statistics are averaged across climate scenarios."><img src = "img/abba/he85_abba.png" class = "img-responsive" alt="Future Distribution He 8.5"></a>
                            </div>
                            <div class = "col-md-12 future-dist">
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h2 style = "color: #fff; display: none">Future Distribution</h2>
                                    </div>
                                    <div class = "col-md-6"></div>
                                </div>
                                <a id = "cc-26" style = "display: none" href = "img/abba/cc26_abba.png" data-toggle = "tooltip" data-placement = "top" title = "Over future range map: Future forecasts are calculated for a particular combination of global climate model and representative concentration pathway, and summary statistics are averaged across climate scenarios."><img src = "img/abba/cc26_abba.png" class = "img-responsive" alt="Future Distribution Cc 2.6"></a>
                            </div>
                            <div class = "col-md-12 future-dist">
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h2 style = "color: #fff; display: none">Future Distribution</h2>
                                    </div>
                                    <div class = "col-md-6"></div>
                                </div>
                                <a id = "cc-45" style = "display: none" href = "img/abba/cc45_abba.png" data-toggle = "tooltip" data-placement = "top" title = "Over future range map: Future forecasts are calculated for a particular combination of global climate model and representative concentration pathway, and summary statistics are averaged across climate scenarios."><img src = "img/abba/cc45_abba.png" class = "img-responsive" alt="Future Distribution Cc 4.5"></a>
                            </div>
                            <div class = "col-md-12 future-dist">
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h2 style = "color: #fff; display: none">Future Distribution</h2>
                                    </div>
                                    <div class = "col-md-6"></div>
                                </div>
                                <a id = "cc-60" style = "display: none" href = "img/abba/cc60_abba.png" data-toggle = "tooltip" data-placement = "top" title = "Over future range map: Future forecasts are calculated for a particular combination of global climate model and representative concentration pathway, and summary statistics are averaged across climate scenarios."><img src = "img/abba/cc60_abba.png" class = "img-responsive" alt="Future Distribution Cc 6.0"></a>
                            </div>
                            <div class = "col-md-12 future-dist">
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h2 style = "color: #fff; display: none">Future Distribution</h2>
                                    </div>
                                    <div class = "col-md-6"></div>
                                </div>
                                <a id = "cc-85" style = "display: none" href = "img/abba/cc85_abba.png" data-toggle = "tooltip" data-placement = "top" title = "Over future range map: Future forecasts are calculated for a particular combination of global climate model and representative concentration pathway, and summary statistics are averaged across climate scenarios."><img src = "img/abba/cc85_abba.png" class = "img-responsive" alt="Future Distribution Cc 8.5"></a>
                            </div>
                        </div>
                    </div>
                    <div class = "col-md-4">
                        <div class = "row">
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class = "col-md-6">
                                <br>
                                <button id="showAc45" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off" checked>Access 1.0 - RCP 4.5</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showAc85" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off">Access 1.0 - RCP 8.5</button>
                            </div>
                        </div>
                        <hr>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe26" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off" checked>X HadGEM2-ES - RCP 2.6</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe45" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off">X HadGEM2-ES - RCP 4.5</button>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe60" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off" checked>X HadGEM2-ES - RCP 6.0</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe85" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off">X HadGEM2-ES - RCP 8.5</button>
                            </div>
                        </div>
                        <hr>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showCc26" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off" checked>CCSM4 - RCP 2.6</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showCc45" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off">CCSM4 - RCP 4.5</button>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showCc60" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off" checked>CCSM4 - RCP 6.0</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showCc85" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off">CCSM4 - RCP 8.5</button>
                            </div>
                        </div>
                        <hr>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe26" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off" checked>X HadGEM2-ES - RCP 2.6</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe45" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off">X HadGEM2-ES - RCP 4.5</button>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe60" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off" checked>X HadGEM2-ES - RCP 6.0</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe85" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off">X HadGEM2-ES - RCP 8.5</button>
                            </div>
                        </div>
                        <hr>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe26" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off" checked>HadGEM2-ES - RCP 2.6</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe45" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off">HadGEM2-ES - RCP 4.5</button>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe60" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off" checked>HadGEM2-ES - RCP 6.0</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe85" class="btn btn-info showBtn fooBtn" type = "radio" name = "options" autocomplete = "off">HadGEM2-ES - RCP 8.5</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id = "img-push-bottom"></div>
    </div>

    <div class = "container-fluid btn-section">
        <div class = "row">
            <div class = "container">
                <div class = "row">
                    <div class = "col-md-1"></div>
                    <div class = "col-md-4">
                        <br>
                        <br>
                        <h4 style = "text-align: center; color: inherit">The maps above represent <strong>Global Climate Models (GCM)</strong> using <strong>Representative Concentration Pathways (RCP)</strong> in order to account for the complex relationships between climate-change, anthropogenic effects, and species distributions.</h4>
                        <br>
                        <h4 style = "text-align: center; color: inherit">Note: Access 1.0 comes from the Commonwealth Scientific and Industrial Research Organisation (CSIRO), Australia.</h4>
                        <br>
                        <h4 style = "text-align: center; color: inherit">Note: Access 1.0 comes from the Commonwealth Scientific and Industrial Research Organisation (CSIRO), Australia.</h4>
                        <br>
                        <h4 style = "text-align: center; color: inherit">Note: Access 1.0 comes from the Commonwealth Scientific and Industrial Research Organisation (CSIRO), Australia.</h4>
                    </div>
                    <div class = "col-md-1"></div>
                    <div class = "col-md-6">
                        <br>
                        <br>
                        <h3 style = "text-align: center; color: inherit">Users can flip between future distributions using either access 1.0 - RCP 4.5 or access 1.0 - RCP 8.5 for species <strong><i>Abbreviata bancrofti</i></strong>.</h3>
                        <br>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showAc45" class="btn btn-info showBtn fooBtn btn-lg" type = "radio" name = "options" autocomplete = "off" checked>Access 1.0 - RCP 4.5</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showAc85" class="btn btn-info showBtn fooBtn btn-lg" type = "radio" name = "options" autocomplete = "off">Access 1.0 - RCP 8.5</button>
                            </div>
                        </div>
                        <hr>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe26" class="btn btn-info showBtn fooBtn btn-lg" type = "radio" name = "options" autocomplete = "off" checked>HadGEM2-ES - RCP 2.6</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe45" class="btn btn-info showBtn fooBtn btn-lg" type = "radio" name = "options" autocomplete = "off">HadGEM2-ES - RCP 4.5</button>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe60" class="btn btn-info showBtn fooBtn btn-lg" type = "radio" name = "options" autocomplete = "off" checked>HadGEM2-ES - RCP 6.0</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showHe85" class="btn btn-info showBtn fooBtn btn-lg" type = "radio" name = "options" autocomplete = "off">HadGEM2-ES - RCP 8.5</button>
                            </div>
                        </div>
                        <hr>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showCc26" class="btn btn-info showBtn fooBtn btn-lg" type = "radio" name = "options" autocomplete = "off" checked>CCSM4 - RCP 2.6</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showCc45" class="btn btn-info showBtn fooBtn btn-lg" type = "radio" name = "options" autocomplete = "off">CCSM4 - RCP 4.5</button>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6">
                                <br>
                                <button id="showCc60" class="btn btn-info showBtn fooBtn btn-lg" type = "radio" name = "options" autocomplete = "off" checked>CCSM4 - RCP 6.0</button>
                            </div>
                            <div class = "col-md-6">
                                <br>
                                <button id="showCc85" class="btn btn-info showBtn fooBtn btn-lg" type = "radio" name = "options" autocomplete = "off">CCSM4 - RCP 8.5</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id = "cibi-push-bottom"></div>
    </div>

    <!-- FOOTER -->
    <footer class = "footer">
        <div class = "container">
            <p class = "footer-text">The P.E.A.R.L. Project</p>
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<!-- placed at end so pages load faster -->
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();

    $().button('toggle');
})

function checkErr() {

    $.ajax({
        url: '/abba',
        type: 'POST',
        cache: false,
        data: {},
        success: function(data) {
            alert('\nSuccess!\n');
            window.location = "/";
        },
        error: function (jqXHR, textStatus, err) {
            alert('\ntext status: ' + textStatus + ', err: ' + err);
        }
    });
    return true;
}

/* Switch between Dispersal and No Dispersal */
var $showAc45 = $('#showAc45');
var $showAc85 = $('#showAc85');
var $showHe26 = $('#showHe26');
var $showHe45 = $('#showHe45');
var $showHe60 = $('#showHe60');
var $showHe85 = $('#showHe85');
var $showCc26 = $('#showCc26');
var $showCc45 = $('#showCc45');
var $showCc60 = $('#showCc60');
var $showCc85 = $('#showCc85');

/*
var $showD3 = $('#showD3');
var $showD4 = $('#showD4');
var $showD5 = $('#showD5');
var $showND = $('#showND');*/

$(function() {

    $showAc45.click(function() {

        var is45 = $('#ac-45');
        var get85 = $('#ac-85');
        var getHe26 = $('#he-26');
        var getHe45 = $('#he-45');
        var getHe60 = $('#he-60');
        var getHe85 = $('#he-85');
        var getCc26 = $('#cc-26');
        var getCc45 = $('#cc-45');
        var getCc60 = $('#cc-60');
        var getCc85 = $('#cc-85');

        if (is45[0].style.display === "none") {

            if (get85[0].style.display !== "none") {

                // Ac 85 is showing
                $('#ac-85-header').toggle('slow', function() {
                });

                $('#ac-45-header').toggle('slow', function() {
                });

                get85[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getHe26[0].style.display !== "none") {

                // He 26 is showing
                $('#he-26-header').toggle('slow', function() {
                });

                $('#ac-45-header').toggle('slow', function() {
                });

                getHe26[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getHe45[0].style.display !== "none") {

                // He 45 is showing
                $('#he-45-header').toggle('slow', function() {
                });

                $('#ac-45-header').toggle('slow', function() {
                });

                getHe45[0].style.display = "none";
                is45[0].style.display = "block"

            } else if (getHe60[0].style.display !== "none") {

                $('#he-60-header').toggle('slow', function() {
                });

                $('#ac-45-header').toggle('slow', function() {
                });

                getHe60[0].style.display = "none";
                is45[0].style.display = "block"

            } else if (getHe85[0].style.display !== "none") {

                $('#he-85-header').toggle('slow', function() {
                });

                $('#ac-45-header').toggle('slow', function() {
                });

                getHe85[0].style.display = "none";
                is45[0].style.display = "block"

            } else if (getCc26[0].style.display !== "none") {

                $('#cc-26-header').toggle('slow', function() {
                });

                $('#ac-45-header').toggle('slow', function() {
                });

                getCc26[0].style.display = "none";
                is45[0].style.display = "block"

            } else if (getCc45[0].style.display !== "none") {

                $('#cc-45-header').toggle('slow', function() {
                });

                $('#ac-45-header').toggle('slow', function() {
                });

                getCc45[0].style.display = "none";
                is45[0].style.display = "block"

            } else if (getCc60[0].style.display !== "none") {

                $('#cc-60-header').toggle('slow', function() {
                });

                $('#ac-45-header').toggle('slow', function() {
                });

                getCc60[0].style.display = "none";
                is45[0].style.display = "block"

            } else if (getCc85[0].style.display !== "none") {

                $('#cc-85-header').toggle('slow', function() {
                });

                $('#ac-45-header').toggle('slow', function() {
                });

                getCc85[0].style.display = "none";
                is45[0].style.display = "block"

            }


            /*$('#ac-85-header').toggle('slow', function() {
            });

            $('#ac-45-header').toggle('slow', function() {
            });

            get85[0].style.display = "none";
            is45[0].style.display = "block";*/
        }
    });

    $showAc85.click(function() {
        /*var is85 = $('#cibi-85');
        var get45 = $('#cibi-45');

        if (is85[0].style.display === "none") {
            $('#cibi-45-header').toggle('slow', function() {
            });

            $('#cibi-85-header').toggle('slow', function() {
            });

            get45[0].style.display = "none";
            is85[0].style.display = "block";
        } */

        var is85 = $('#ac-85');
        var get45 = $('#ac-45');
        var getHe26 = $('#he-26');
        var getHe45 = $('#he-45');
        var getHe60 = $('#he-60');
        var getHe85 = $('#he-85');
        var getCc26 = $('#cc-26');
        var getCc45 = $('#cc-45');
        var getCc60 = $('#cc-60');
        var getCc85 = $('#cc-85');

        if (is85[0].style.display === "none") {

            if (get45[0].style.display !== "none") {

                // Ac 45 is showing
                $('#ac-45-header').toggle('slow', function() {
                });

                $('#ac-85-header').toggle('slow', function() {
                });

                get45[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getHe26[0].style.display !== "none") {

                // He 26 is showing
                $('#he-26-header').toggle('slow', function() {
                });

                $('#ac-85-header').toggle('slow', function() {
                });

                getHe26[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getHe45[0].style.display !== "none") {

                // He 45 is showing
                $('#he-45-header').toggle('slow', function() {
                });

                $('#ac-85-header').toggle('slow', function() {
                });

                getHe45[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getHe60[0].style.display !== "none") {


                $('#he-60-header').toggle('slow', function() {
                });

                $('#ac-85-header').toggle('slow', function() {
                });

                getHe60[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getHe85[0].style.display !== "none") {


                $('#he-85-header').toggle('slow', function() {
                });

                $('#ac-85-header').toggle('slow', function() {
                });

                getHe85[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getCc26[0].style.display !== "none") {


                $('#cc-26-header').toggle('slow', function() {
                });

                $('#ac-85-header').toggle('slow', function() {
                });

                getCc26[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getCc45[0].style.display !== "none") {


                $('#cc-45-header').toggle('slow', function() {
                });

                $('#ac-85-header').toggle('slow', function() {
                });

                getCc45[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getCc60[0].style.display !== "none") {


                $('#cc-60-header').toggle('slow', function() {
                });

                $('#ac-85-header').toggle('slow', function() {
                });

                getCc60[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getCc85[0].style.display !== "none") {


                $('#cc-85-header').toggle('slow', function() {
                });

                $('#ac-85-header').toggle('slow', function() {
                });

                getCc85[0].style.display = "none";
                is85[0].style.display = "block";

            }
        }

    });

    $showHe26.click(function() {
        /*var is85 = $('#cibi-85');
        var get45 = $('#cibi-45');

        if (is85[0].style.display === "none") {
            $('#cibi-45-header').toggle('slow', function() {
            });

            $('#cibi-85-header').toggle('slow', function() {
            });

            get45[0].style.display = "none";
            is85[0].style.display = "block";
        } */

        var is26 = $('#he-26');
        var get45 = $('#ac-45');
        var get85 = $('#ac-85');
        var getHe45 = $('#he-45');
        var getHe60 = $('#he-60');
        var getHe85 = $('#he-85');
        var getCc26 = $('#cc-26');
        var getCc45 = $('#cc-45');
        var getCc60 = $('#cc-60');
        var getCc85 = $('#cc-85');

        if (is26[0].style.display === "none") {

            if (get45[0].style.display !== "none") {

                // Ac 45 is showing
                $('#ac-45-header').toggle('slow', function() {
                });

                $('#he-26-header').toggle('slow', function() {
                });

                get45[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (get85[0].style.display !== "none") {

                // Ac 85 is showing
                $('#ac-85-header').toggle('slow', function() {
                });

                $('#he-26-header').toggle('slow', function() {
                });

                get85[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getHe45[0].style.display !== "none") {

                // He 45 is showing
                $('#he-45-header').toggle('slow', function() {
                });

                $('#he-26-header').toggle('slow', function() {
                });

                getHe45[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getHe60[0].style.display !== "none") {


                $('#he-60-header').toggle('slow', function() {
                });

                $('#he-26-header').toggle('slow', function() {
                });

                getHe60[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getHe85[0].style.display !== "none") {


                $('#he-85-header').toggle('slow', function() {
                });

                $('#he-26-header').toggle('slow', function() {
                });

                getHe85[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getCc26[0].style.display !== "none") {


                $('#cc-26-header').toggle('slow', function() {
                });

                $('#he-26-header').toggle('slow', function() {
                });

                getCc26[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getCc45[0].style.display !== "none") {


                $('#cc-45-header').toggle('slow', function() {
                });

                $('#he-26-header').toggle('slow', function() {
                });

                getCc45[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getCc60[0].style.display !== "none") {


                $('#cc-60-header').toggle('slow', function() {
                });

                $('#he-26-header').toggle('slow', function() {
                });

                getCc60[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getCc85[0].style.display !== "none") {


                $('#cc-85-header').toggle('slow', function() {
                });

                $('#he-26-header').toggle('slow', function() {
                });

                getCc85[0].style.display = "none";
                is26[0].style.display = "block";
            }
        }

    });

    $showHe45.click(function() {

        var is45 = $('#he-45');
        var get45 = $('#ac-45');
        var get85 = $('#ac-85');
        var getHe26 = $('#he-26');
        var getHe60 = $('#he-60');
        var getHe85 = $('#he-85');
        var getCc26 = $('#cc-26');
        var getCc45 = $('#cc-45');
        var getCc60 = $('#cc-60');
        var getCc85 = $('#cc-85');

        if (is45[0].style.display === "none") {

            if (get45[0].style.display !== "none") {

                // Ac 45 is showing
                $('#ac-45-header').toggle('slow', function() {});
                $('#he-45-header').toggle('slow', function() {});

                get45[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (get85[0].style.display !== "none") {

                // Ac 85 is showing
                $('#ac-85-header').toggle('slow', function() {});
                $('#he-45-header').toggle('slow', function() {});

                get85[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getHe26[0].style.display !== "none") {

                // He 45 is showing
                $('#he-26-header').toggle('slow', function() {});
                $('#he-45-header').toggle('slow', function() {});

                getHe26[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getHe60[0].style.display !== "none") {

                $('#he-60-header').toggle('slow', function() {});
                $('#he-45-header').toggle('slow', function() {});

                getHe60[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getHe85[0].style.display !== "none") {

                $('#he-85-header').toggle('slow', function() {});
                $('#he-45-header').toggle('slow', function() {});

                getHe85[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getCc26[0].style.display !== "none") {

                $('#cc-26-header').toggle('slow', function() {});
                $('#he-45-header').toggle('slow', function() {});

                getCc26[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getCc45[0].style.display !== "none") {

                $('#cc-45-header').toggle('slow', function() {});
                $('#he-45-header').toggle('slow', function() {});

                getCc45[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getCc60[0].style.display !== "none") {

                $('#cc-60-header').toggle('slow', function() {});
                $('#he-45-header').toggle('slow', function() {});

                getCc60[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getCc85[0].style.display !== "none") {

                $('#cc-85-header').toggle('slow', function() {});
                $('#he-45-header').toggle('slow', function() {});

                getCc85[0].style.display = "none";
                is45[0].style.display = "block";
            }
        }
    });

    $showHe60.click(function() {

        var is60 = $('#he-60');
        var get45 = $('#ac-45');
        var get85 = $('#ac-85');
        var getHe26 = $('#he-26');
        var getHe45 = $('#he-45');
        var getHe85 = $('#he-85');
        var getCc26 = $('#cc-26');
        var getCc45 = $('#cc-45');
        var getCc60 = $('#cc-60');
        var getCc85 = $('#cc-85');

        if (is60[0].style.display === "none") {

            if (get45[0].style.display !== "none") {

                // Ac 45 is showing
                $('#ac-45-header').toggle('slow', function() {});
                $('#he-60-header').toggle('slow', function() {});

                get45[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (get85[0].style.display !== "none") {

                // Ac 85 is showing
                $('#ac-85-header').toggle('slow', function() {});
                $('#he-60-header').toggle('slow', function() {});

                get85[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getHe26[0].style.display !== "none") {

                // He 45 is showing
                $('#he-26-header').toggle('slow', function() {});
                $('#he-60-header').toggle('slow', function() {});

                getHe26[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getHe45[0].style.display !== "none") {

                $('#he-45-header').toggle('slow', function() {});
                $('#he-60-header').toggle('slow', function() {});

                getHe45[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getHe85[0].style.display !== "none") {

                $('#he-85-header').toggle('slow', function() {});
                $('#he-60-header').toggle('slow', function() {});

                getHe85[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getCc26[0].style.display !== "none") {

                $('#cc-26-header').toggle('slow', function() {});
                $('#he-60-header').toggle('slow', function() {});

                getCc26[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getCc45[0].style.display !== "none") {

                $('#cc-45-header').toggle('slow', function() {});
                $('#he-60-header').toggle('slow', function() {});

                getCc45[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getCc60[0].style.display !== "none") {

                $('#cc-60-header').toggle('slow', function() {});
                $('#he-60-header').toggle('slow', function() {});

                getCc60[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getCc85[0].style.display !== "none") {

                $('#cc-85-header').toggle('slow', function() {});
                $('#he-45-header').toggle('slow', function() {});

                getCc85[0].style.display = "none";
                is60[0].style.display = "block";
            }
        }
    });

    $showHe85.click(function() {

        var is85 = $('#he-85');
        var get45 = $('#ac-45');
        var get85 = $('#ac-85');
        var getHe26 = $('#he-26');
        var getHe45 = $('#he-45');
        var getHe60 = $('#he-60');
        var getCc26 = $('#cc-26');
        var getCc45 = $('#cc-45');
        var getCc60 = $('#cc-60');
        var getCc85 = $('#cc-85');

        if (is85[0].style.display === "none") {

            if (get45[0].style.display !== "none") {

                // Ac 45 is showing
                $('#ac-45-header').toggle('slow', function() {});
                $('#he-85-header').toggle('slow', function() {});

                get45[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (get85[0].style.display !== "none") {

                // Ac 85 is showing
                $('#ac-85-header').toggle('slow', function() {});
                $('#he-85-header').toggle('slow', function() {});

                get85[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getHe26[0].style.display !== "none") {

                // He 45 is showing
                $('#he-26-header').toggle('slow', function() {});
                $('#he-85-header').toggle('slow', function() {});

                getHe26[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getHe45[0].style.display !== "none") {

                $('#he-45-header').toggle('slow', function() {});
                $('#he-85-header').toggle('slow', function() {});

                getHe45[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getHe60[0].style.display !== "none") {

                $('#he-60-header').toggle('slow', function() {});
                $('#he-85-header').toggle('slow', function() {});

                getHe60[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getCc26[0].style.display !== "none") {

                $('#cc-26-header').toggle('slow', function() {});
                $('#he-85-header').toggle('slow', function() {});

                getCc26[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getCc45[0].style.display !== "none") {

                $('#cc-45-header').toggle('slow', function() {});
                $('#he-85-header').toggle('slow', function() {});

                getCc45[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getCc60[0].style.display !== "none") {

                $('#cc-60-header').toggle('slow', function() {});
                $('#he-85-header').toggle('slow', function() {});

                getCc60[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getCc85[0].style.display !== "none") {

                $('#cc-85-header').toggle('slow', function() {});
                $('#he-85-header').toggle('slow', function() {});

                getCc85[0].style.display = "none";
                is85[0].style.display = "block";
            }
        }
    });

    $showCc26.click(function() {

        var is26 = $('#cc-26');
        var get45 = $('#ac-45');
        var get85 = $('#ac-85');
        var getHe26 = $('#he-26');
        var getHe45 = $('#he-45');
        var getHe60 = $('#he-60');
        var getHe85 = $('#he-85');
        var getCc45 = $('#cc-45');
        var getCc60 = $('#cc-60');
        var getCc85 = $('#cc-85');

        if (is26[0].style.display === "none") {

            if (get45[0].style.display !== "none") {

                // Ac 45 is showing
                $('#ac-45-header').toggle('slow', function() {});
                $('#cc-26-header').toggle('slow', function() {});

                get45[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (get85[0].style.display !== "none") {

                // Ac 85 is showing
                $('#ac-85-header').toggle('slow', function() {});
                $('#cc-26-header').toggle('slow', function() {});

                get85[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getHe26[0].style.display !== "none") {

                // He 45 is showing
                $('#he-26-header').toggle('slow', function() {});
                $('#cc-26-header').toggle('slow', function() {});

                getHe26[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getHe45[0].style.display !== "none") {

                $('#he-45-header').toggle('slow', function() {});
                $('#cc-26-header').toggle('slow', function() {});

                getHe45[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getHe60[0].style.display !== "none") {

                $('#he-60-header').toggle('slow', function() {});
                $('#cc-26-header').toggle('slow', function() {});

                getHe60[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getHe85[0].style.display !== "none") {

                $('#he-85-header').toggle('slow', function() {});
                $('#cc-26-header').toggle('slow', function() {});

                getHe85[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getCc45[0].style.display !== "none") {

                $('#cc-45-header').toggle('slow', function() {});
                $('#cc-26-header').toggle('slow', function() {});

                getCc45[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getCc60[0].style.display !== "none") {

                $('#cc-60-header').toggle('slow', function() {});
                $('#cc-26-header').toggle('slow', function() {});

                getCc60[0].style.display = "none";
                is26[0].style.display = "block";

            } else if (getCc85[0].style.display !== "none") {

                $('#cc-85-header').toggle('slow', function() {});
                $('#cc-26-header').toggle('slow', function() {});

                getCc85[0].style.display = "none";
                is26[0].style.display = "block";
            }
        }
    });

    $showCc45.click(function() {

        var is45 = $('#cc-45');
        var get45 = $('#ac-45');
        var get85 = $('#ac-85');
        var getHe26 = $('#he-26');
        var getHe45 = $('#he-45');
        var getHe60 = $('#he-60');
        var getHe85 = $('#he-85');
        var getCc26 = $('#cc-26');
        var getCc60 = $('#cc-60');
        var getCc85 = $('#cc-85');

        if (is45[0].style.display === "none") {

            if (get45[0].style.display !== "none") {

                // Ac 45 is showing
                $('#ac-45-header').toggle('slow', function() {});
                $('#cc-45-header').toggle('slow', function() {});

                get45[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (get85[0].style.display !== "none") {

                // Ac 85 is showing
                $('#ac-85-header').toggle('slow', function() {});
                $('#cc-45-header').toggle('slow', function() {});

                get85[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getHe26[0].style.display !== "none") {

                // He 45 is showing
                $('#he-26-header').toggle('slow', function() {});
                $('#cc-45-header').toggle('slow', function() {});

                getHe26[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getHe45[0].style.display !== "none") {

                $('#he-45-header').toggle('slow', function() {});
                $('#cc-45-header').toggle('slow', function() {});

                getHe45[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getHe60[0].style.display !== "none") {

                $('#he-60-header').toggle('slow', function() {});
                $('#cc-45-header').toggle('slow', function() {});

                getHe60[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getHe85[0].style.display !== "none") {

                $('#he-85-header').toggle('slow', function() {});
                $('#cc-45-header').toggle('slow', function() {});

                getHe85[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getCc26[0].style.display !== "none") {

                $('#cc-26-header').toggle('slow', function() {});
                $('#cc-45-header').toggle('slow', function() {});

                getCc26[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getCc60[0].style.display !== "none") {

                $('#cc-60-header').toggle('slow', function() {});
                $('#cc-45-header').toggle('slow', function() {});

                getCc60[0].style.display = "none";
                is45[0].style.display = "block";

            } else if (getCc85[0].style.display !== "none") {

                $('#cc-85-header').toggle('slow', function() {});
                $('#cc-45-header').toggle('slow', function() {});

                getCc85[0].style.display = "none";
                is45[0].style.display = "block";
            }
        }
    });

    $showCc60.click(function() {

        var is60 = $('#cc-60');
        var get45 = $('#ac-45');
        var get85 = $('#ac-85');
        var getHe26 = $('#he-26');
        var getHe45 = $('#he-45');
        var getHe60 = $('#he-60');
        var getHe85 = $('#he-85');
        var getCc26 = $('#cc-26');
        var getCc45 = $('#cc-45');
        var getCc85 = $('#cc-85');

        if (is60[0].style.display === "none") {

            if (get45[0].style.display !== "none") {

                // Ac 45 is showing
                $('#ac-45-header').toggle('slow', function() {});
                $('#cc-60-header').toggle('slow', function() {});

                get45[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (get85[0].style.display !== "none") {

                // Ac 85 is showing
                $('#ac-85-header').toggle('slow', function() {});
                $('#cc-60-header').toggle('slow', function() {});

                get85[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getHe26[0].style.display !== "none") {

                // He 45 is showing
                $('#he-26-header').toggle('slow', function() {});
                $('#cc-60-header').toggle('slow', function() {});

                getHe26[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getHe45[0].style.display !== "none") {

                $('#he-45-header').toggle('slow', function() {});
                $('#cc-60-header').toggle('slow', function() {});

                getHe45[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getHe60[0].style.display !== "none") {

                $('#he-60-header').toggle('slow', function() {});
                $('#cc-60-header').toggle('slow', function() {});

                getHe60[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getHe85[0].style.display !== "none") {

                $('#he-85-header').toggle('slow', function() {});
                $('#cc-60-header').toggle('slow', function() {});

                getHe85[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getCc26[0].style.display !== "none") {

                $('#cc-26-header').toggle('slow', function() {});
                $('#cc-60-header').toggle('slow', function() {});

                getCc26[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getCc45[0].style.display !== "none") {

                $('#cc-45-header').toggle('slow', function() {});
                $('#cc-60-header').toggle('slow', function() {});

                getCc45[0].style.display = "none";
                is60[0].style.display = "block";

            } else if (getCc85[0].style.display !== "none") {

                $('#cc-85-header').toggle('slow', function() {});
                $('#cc-60-header').toggle('slow', function() {});

                getCc85[0].style.display = "none";
                is60[0].style.display = "block";
            }
        }
    });

    $showCc85.click(function() {

        var is85 = $('#cc-85');
        var get45 = $('#ac-45');
        var get85 = $('#ac-85');
        var getHe26 = $('#he-26');
        var getHe45 = $('#he-45');
        var getHe60 = $('#he-60');
        var getHe85 = $('#he-85');
        var getCc26 = $('#cc-26');
        var getCc45 = $('#cc-45');
        var getCc60 = $('#cc-60');

        if (is85[0].style.display === "none") {

            if (get45[0].style.display !== "none") {

                // Ac 45 is showing
                $('#ac-45-header').toggle('slow', function() {});
                $('#cc-85-header').toggle('slow', function() {});

                get45[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (get85[0].style.display !== "none") {

                // Ac 85 is showing
                $('#ac-85-header').toggle('slow', function() {});
                $('#cc-85-header').toggle('slow', function() {});

                get85[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getHe26[0].style.display !== "none") {

                // He 45 is showing
                $('#he-26-header').toggle('slow', function() {});
                $('#cc-85-header').toggle('slow', function() {});

                getHe26[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getHe45[0].style.display !== "none") {

                $('#he-45-header').toggle('slow', function() {});
                $('#cc-85-header').toggle('slow', function() {});

                getHe45[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getHe60[0].style.display !== "none") {

                $('#he-60-header').toggle('slow', function() {});
                $('#cc-85-header').toggle('slow', function() {});

                getHe60[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getHe85[0].style.display !== "none") {

                $('#he-85-header').toggle('slow', function() {});
                $('#cc-85-header').toggle('slow', function() {});

                getHe85[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getCc26[0].style.display !== "none") {

                $('#cc-26-header').toggle('slow', function() {});
                $('#cc-85-header').toggle('slow', function() {});

                getCc26[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getCc45[0].style.display !== "none") {

                $('#cc-45-header').toggle('slow', function() {});
                $('#cc-85-header').toggle('slow', function() {});

                getCc45[0].style.display = "none";
                is85[0].style.display = "block";

            } else if (getCc60[0].style.display !== "none") {

                $('#cc-60-header').toggle('slow', function() {});
                $('#cc-85-header').toggle('slow', function() {});

                getCc60[0].style.display = "none";
                is85[0].style.display = "block";
            }
        }
    });

})
</script>
</body>
</html>
