<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <title>P.E.A.R.L.</title>

    <!-- Bootstrap -->
    <!--link href = "css/bootstrap.min.css" rel = "stylesheet"-->
    <link href = "css/bootstrap.css" rel = "stylesheet">
    <link href = "css/custom.css" rel = "stylesheet">
    <link rel = "stylesheet" href = "css/font-awesome-4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Exo|Exo+2' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script-->
    <!--script type = "text/javascript" src = "js/custom.js"></script-->
    <script src = "js/jquery-2.2.3.js"></script>
    <script src = "js/bootstrap.min.js"></script>
    <!--script src = "js/bootstrap.js"></script-->
    <!--script src = "js/getMeta.js"></script-->
</head>
<style>
ul {
    padding-left: 0px;
}

#push-atlas-bottom {
    height: 500px;
}
</style>
<body>

    <!-- NAVIGATION BAR -->
	<div class = "navbar navbar-default navbar-fixed-top" role = "navigation">
    		<div class = "container">
    			<div class = "navbar-header">
    				<button type = "button" class = "navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    					<!-- for screen readers -->
    					<span class = "sr-only">Toggle navigation</span>
    					<span class = "icon-bar"></span>
    					<span class = "icon-bar"></span>
    					<span class = "icon-bar"></span>
    				</button>
    				<a class = "navbar-brand" href = "/">Parasite Extinction Assessment and Red List</a>
    			</div>

    			<div class = "navbar-collapse collapse">
    				<ul class = "nav navbar-nav navbar-right">
    					<li><a href = "/">Home</a></li>
                        <li class = "active"><a href = "#">Atlas</a></li>
    					<li><a href = "/team">Team</a></li>
                        <li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle="dropdown">Spotlight Species<b class = "caret"></b></a>
                            <ul class = "dropdown-menu">
                                <!--li><a href = "/sobbat">Sob. Bat.</a></li-->
                                <li><a href = "/ABBREVIATA_BANCROFTI">Species: <i>Abbreviata bancrofti</i></a></li>
                                <li><a href = "/ABBREVIATA_HASTASPICULA">Species: <i>Abbreviata hastaspicula</i></a></li>
                                <li><a href = "/AGLENCHUS_AGRICOLA">Species: <i>Aglenchus agricola</i></a></li>
                            </ul>
                        </li>
                    </ul>
    			</div>
    		</div>
    	</div>

	<!-- Jumbotron -->
    <div class = "container-fluid stat-section">
        <div class = "row">
            <div class = "container">
                <div id = "team-push-top"></div>
                <div class = "row">
                    <div class = "col-md-1"></div>
                    <div class = "col-md-10">
                        <div class = "jumbotron">
                            <h1 style = "text-align: center"><strong><%= title %></strong></h1>
                            <br>
                        </div>
                    </div>
                    <div class = "col-md-1"></div>
                </div>
                <div class = "row">
                    <div class = "col-md-1"></div>
                    <div class = "col-md-10">
                        <!--h3 style = "text-align: center">PEARL is a product of three years of work by dedicated researchers in at least seven countries. Here are a few of the people who created PEARL, designed the parasite extinction research program, and contributed data, models and knowledge to the effort.</h3-->
                        <!--h3 style = "text-align: center">PEARL is a product of three years of work by dedicated researchers in at least seven countries. Here are a few of the people who made it possible:</h3-->
                        <h3 class = "blockText" style = "text-align: center">Search through this alphabetical species guide:</h3>
                    </div>
                    <div class = "col-md-1"></div>
                </div>
                <div id = "team-push-bottom"></div>
            </div>
        </div>
    </div>

    <div class = "container-fluid img-section">
        <br>
        <br>
        <div class = "row">
            <div class = "container">
                <div class = "row">
                    <div class = "col-md-1"></div>
                    <div class = "col-md-10" style = "text-align: center">
                        <div id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Abbreviata
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <ul><a href = "/ABBREVIATA_BANCROFTI">Abbreviata bancrofti</a></ul>
                                    <ul><a href = "/ABBREVIATA_HASTASPICULA">Abbreviata hastaspicula</a></ul>
                                    <ul><a href = "/AGLENCHUS_AGRICOLA">Aglenchus agricola</a></ul>
                                    <ul><a href = "/ALAIMUS_PRIMITIVUS">Alaimus primitivus</a></ul>
                                    <ul><a href = "/ALLOGLOSSIDIUM_CORTI">Alloglossidium corti</a></ul>
                                    <ul><a href = "/ALLOCORRIGIA_FILIFORMIS">Allocorrigia filiformis</a></ul>
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Amalaraeus
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <ul><a href = "/AMALARAEUS_PENICILLIGER">Amalaraeus penicilliger</a></ul>
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Amblyomma (part 1)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <ul><a href = "/AMBLYOMMA_AMERICANUM">Amblyomma americanum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_ASTRION">Amblyomma astrion</a></ul>
                                    <ul><a href = "/AMBLYOMMA_CAJENNENSE">Amblyomma cajennense</a></ul>
                                    <ul><a href = "/AMBLYOMMA_COHAERENS">Amblyomma cohaerens</a></ul>
                                    <ul><a href = "/AMBLYOMMA_COMPRESSUM">Amblyomma compressum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_CUNEATUM">Amblyomma cuneatum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_EBERNEUM">Amblyomma eberneum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_EXORNATUM">Amblyomma exornatum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_FALSOMARMOREUM">Amblyomma falsomarmoreum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_FIMBRIATUM">Amblyomma fimbriatum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_FLAVOMACULATUM">Amblyomma flavomaculatum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_GEMMA">Amblyomma gemma</a></ul>
                                    <ul><a href = "/AMBLYOMMA_GEOEMYDAE">Amblyomma geoemydae</a></ul>
                                    <ul><a href = "/AMBLYOMMA_HEBRAEUM">Amblyomma hebraeum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_HELVOLUM">Amblyomma helvolum</a></ul>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class = "col-md-1"></div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

    <div class = "container-fluid stat-section">
        <br>
        <br>
        <div class = "row">
            <div class = "container">
                <div class = "row">
                    <div class = "col-md-1"></div>
                    <div class = "col-md-10" style = "text-align: center">
                        <div id="b-accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="b-headingOne">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#b-accordion" href="#b-collapseOne" aria-expanded="false" aria-controls="b-collapseOne">
                                            Amblyomma (part 2)
                                        </a>
                                    </h4>
                                </div>
                                <div id="b-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="b-headingOne">
                                    <ul><a href = "/AMBLYOMMA_JAVANENSE">Amblyomma javanense</a></ul>
                                    <ul><a href = "/AMBLYOMMA_LATUM">Amblyomma latum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_LEPIDUM">Amblyomma lepidum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_LIMBATUM">Amblyomma limbatum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_MACULATUM">Amblyomma maculatum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_MARMOREUM">Amblyomma marmoreum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_NUTTALLI">Amblyomma nuttalli</a></ul>
                                    <ul><a href = "/AMBLYOMMA_PAULOPUNCTATUM">Amblyomma paulopunctatum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_POMPOSUM">Amblyomma pomposum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_RHINOCEROTIS">Amblyomma rhinocerotis</a></ul>
                                    <ul><a href = "/AMBLYOMMA_SPARSUM">Amblyomma sparsum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_SPLENDIDUM">Amblyomma splendidum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_TESTUDINARIUM">Amblyomma testudinarium</a></ul>
                                    <ul><a href = "/AMBLYOMMA_THOLLONI">Amblyomma tholloni</a></ul>
                                    <ul><a href = "/AMBLYOMMA_TRIGUTTATUM">Amblyomma triguttatum</a></ul>
                                    <ul><a href = "/AMBLYOMMA_VARIEGATUM">Amblyomma variegatum</a></ul>
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="b-headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#b-accordion" href="#b-collapseTwo" aria-expanded="false" aria-controls="b-collapseTwo">
                                            Anaplectus
                                        </a>
                                    </h4>
                                </div>
                                <div id="b-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="b-headingTwo">
                                    <ul><a href = "/ANAPLECTUS_GRANULOSUS">Anaplectus granulosus</a></ul>
                                    <ul><a href = "/ANCYLOSTOMA_CANINUM">Ancylostoma caninum</a></ul>
                                    <ul><a href = "/ANGIOSTRONGYLUS_CANTONENSIS">Angiostrongylus cantonensis</a></ul>
                                    <ul><a href = "/ANOMIOPSYLLUS_NUDATUS">Anomiopsyllus nudatus</a></ul>
                                    <ul><a href = "/ANOPLOCEPHALA_PERFOLIATA">Anoplocephala perfoliata</a></ul>
                                    <ul><a href = "/APHELENCHUS_AVENAE">Aphelenchus avenae</a></ul>
                                    <ul><a href = "/APHELENCHUS_PARIETINUS">Aphelenchus parietinus</a></ul>
                                    <ul><a href = "/APLECTANA_ITZOCANENSIS">Aplectana itzocanensis</a></ul>
                                    <ul><a href = "/APORCELAIMELLUS_OBTUSICAUDATUS">Aporcelaimellus obtusicaudatus</a></ul>
                                    <ul><a href = "/ARALICHUS_NOBILIS">Aralichus nobilis</a></ul>
                                    <ul><a href = "/ARCHAEOPSYLLA_ERINACEI">Archaeopsylla erinacei</a></ul>
                                    <ul><a href = "/ARGAS_BRUMPTI">Argas brumpti</a></ul>
                                    <ul><a href = "/ARGAS_CONFUSUS">Argas confusus</a></ul>
                                    <ul><a href = "/ARGAS_PERSICUS">Argas persicus</a></ul>
                                    <ul><a href = "/ARGAS_VESPERTILIONIS">Argas vespertilionis</a></ul>
                                    <ul><a href = "/ARGAS_WALKERAE">Argas walkerae</a></ul>
                                    <ul><a href = "/ARHYTHMORHYNCHUS_BREVIS">Arhythmorhynchus brevis</a></ul>
                                    <ul><a href = "/ASCARIDIA_BONASAE">Ascaridia bonasae</a></ul>
                                    <ul><a href = "/ASCARIDIA_COLUMBAE">Ascaridia columbae</a></ul>
                                    <ul><a href = "/ASCARIDIA_GALLI">Ascaridia galli</a></ul>
                                    <ul><a href = "/ASCARIDIA_LINEATA">Ascaridia lineata</a></ul>
                                    <ul><a href = "/ASCARIS_LUMBRICOIDES">Ascaris lumbricoides</a></ul>
                                    <ul><a href = "/ASCARIS_SUUM">Ascaris suum</a></ul>
                                    <ul><a href = "/ASCOCOTYLE_LONGA">Ascocotyle longa</a></ul>
                                    <ul><a href = "/ASCOCOTYLE_TENUICOLLIS">Ascocotyle tenuicollis</a></ul>
                                    <ul><a href = "/BAYLISASCARIS_PROCYONIS">Baylisascaris procionis</a></ul>
                                    <ul><a href = "/BOTHRIOCEPHALUS_CUSPIDATUS">Bothriocephalus cuspidatus</a></ul>
                                    <ul><a href = "/BOTHRIOCROTON_HYDROSAURI">Bothriocroton hydrosauri</a></ul>
                                    <ul><a href = "/BRACHYCOELIUM_SALAMANDRAE">Brachycoelium salamandrae</a></ul>
                                    <ul><a href = "/BUNOSTOMUM_PHLEBOTOMUM">Bunostomum phlebotomum</a></ul>
                                    <ul><a href = "/BUNOSTOMUM_TRIGONOCEPHALUM">Bunostomum trigonocephalum</a></ul>
                                    <ul><a href = "/CAMALLANUS_OXYCEPHALUS">Camallanus oxycephalus</a></ul>
                                    <ul><a href = "/CAPILLARIA_CONTORTA">Capillaria contorta</a></ul>
                                    <ul><a href = "/CAPILLARIA_TENUISSIMA">Capillaria tenuissima</a></ul>
                                    <ul><a href = "/CARIOS_VESPERTILIONIS">Carios vespertilionis</a></ul>
                                    <ul><a href = "/CENTROCESTUS_FORMOSANUS">Centrocestus formosanus</a></ul>
                                    <ul><a href = "/CEPHALURIS_COLORADENSIS">Cephaluris coloradensis</a></ul>
                                    <ul><a href = "/CERATOPHYLLUS_FARRENI">Ceratophyllus farreni</a></ul>
                                    <ul><a href = "/CERATOPHYLLUS_GALLINAE">Ceratophyllus gallinae</a></ul>
                                    <ul><a href = "/CERATOPHYLLUS_GAREI">Ceratophyllus garei</a></ul>
                                    <ul><a href = "/CERATOPHYLLUS_HIRUNDINIS">Ceratophyllus hirundinis</a></ul>
                                    <ul><a href = "/CERATOPHYLLUS_STYX">Ceratophyllus styx</a></ul>
                                    <ul><a href = "/CHABERTIA_OVINA">Chabertia ovina</a></ul>
                                    <ul><a href = "/CHAETODACTYLUS_KROMBEINI">Chaetodactylus krombeini</a></ul>
                                    <ul><a href = "/CHAETODACTYLUS_MICHENERI">Chaetodactylus micheneri</a></ul>
                                    <ul><a href = "/CHAETODACTYLUS_SP">Chaetodactylus sp</a></ul>
                                    <ul><a href = "/CHEILOSPIRURA_HAMULOSA">Cheilospirura hamulosa</a></ul>
                                    <ul><a href = "/CICHLASOTREMA_UJATI">Cichlasotrema ujati</a></ul>
                                    <ul><a href = "/CITELLINEMA_BIFURCATUM">Citellinema bifurcatum</a></ul>
                                    <ul><a href = "/CITTOTAENIA_VARIABILIS">Cittotaenia variabilis</a></ul>
                                    <ul><a href = "/CLARKUS_PAPILLATUS">Clarkus papillatus</a></ul>
                                    <ul><a href = "/CLINOSTOMUM_COMPLANATUM">Clinostomum complanatum</a></ul>
                                    <ul><a href = "/CLONORCHIS_SINENSIS">Clonorchis sinensis</a></ul>
                                    <ul><a href = "/CONTRACAECUM_MULTIPAPILLATUM">Contracaecum multipapillatum</a></ul>
                                    <ul><a href = "/CONTRACAECUM_SPICULIGERUM">Contracaecum spiculigerum</a></ul>
                                    <ul><a href = "/COOPERIA_CURTICEI">Cooperia curticei</a></ul>
                                    <ul><a href = "/COOPERIA_ONCOPHORA">Cooperia oncophora</a></ul>
                                    <ul><a href = "/COOPERIA_PUNCTATA">Cooperia punctata</a></ul>
                                    <ul><a href = "/COOPERIA_SURNABADA">Cooperia surnabada</a></ul>
                                    <ul><a href = "/CORACIACARUS_CUCULI">Coraciacarus cuculi</a></ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-md-1"></div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

    <div class = "container-fluid img-section">
        <br>
        <br>
        <div class = "row">
            <div class = "container">
                <div class = "row">
                    <div class = "col-md-1"></div>
                    <div class = "col-md-10" style = "text-align: center">
                        <div id="c-accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="c-headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#c-accordion" href="#c-collapseOne" aria-expanded="false" aria-controls="c-collapseOne">
                                            Hyalomma
                                        </a>
                                    </h4>
                                </div>
                                <div id="c-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="c-headingOne">
                                    <ul><a href = "/HORSTIA_SP">Horstia sp.</a></ul>
                                    <ul><a href = "/HYALOMMA_AEGYPTIUM">Hyalomma aegyptium</a></ul>
                                    <ul><a href = "/HYALOMMA_ALBIPARMATUM">Hyalomma albiparmatum</a></ul>
                                    <ul><a href = "/HYALOMMA_ANATOLICUM">Hyalomma anatolicum</a></ul>
                                    <ul><a href = "/HYALOMMA_DROMEDARII">Hyalomma dromedarii</a></ul>
                                    <ul><a href = "/HYALOMMA_IMPELTATUM">Hyalomma impeltatum</a></ul>
                                    <ul><a href = "/HYALOMMA_IMPRESSUM">Hyalomma impressum</a></ul>
                                    <ul><a href = "/HYALOMMA_RUFIPES">Hyalomma rufipes</a></ul>
                                    <ul><a href = "/HYALOMMA_TRUNCATUM">Hyalomma truncatum</a></ul>
                                    <ul><a href = "/HYALOMMA_TURANICUM">Hyalomma turanicum</a></ul>
                                    <ul><a href = "/HYMENOLEPIS_DIMINUTA">Hymenolepis diminuta</a></ul>
                                    <ul><a href = "/HYPOPI_SP">Hypopi sp.</a></ul>
                                    <ul><a href = "/HYSTRICHOPSYLLA_ORIENTALIS">Hystrichopsylla orientalis</a></ul>
                                    <ul><a href = "/HYSTRICHOPSYLLA_TALPAE">Hystrichopsylla talpae</a></ul>
                                    <ul><a href = "/IRONUS_IGNAVUS">Ironus ignavus</a></ul>
                                    <ul><a href = "/ISCHNOPSYLLUS_HEXACTENUS">Ischnopsyllus hexactenus</a></ul>
                                    <ul><a href = "/ISCHNOPSYLLUS_INTERMEDIUS">Ischnopsyllus intermedius</a></ul>
                                    <ul><a href = "/ISCHNOPSYLLUS_OCTACTENUS">Ischnopsyllus octactenus</a></ul>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="c-headingTwo">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#c-accordion" href="#c-collapseTwo" aria-expanded="false" aria-controls="c-collapseTwo">
                                            Ixodes
                                        </a>
                                    </h4>
                                </div>
                                <div id="c-collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="c-headingTwo">
                                    <ul><a href = "/IXODES_ANGUSTUS">Ixodes angustus</a></ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-md-1"></div>
                </div>
            </div>
        </div>
        <div id = "push-atlas-bottom"></div>
    </div>

    <!-- FOOTER -->
    <footer class = "footer">
        <div class = "container">
            <p class = "footer-text">The P.E.A.R.L. Project</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <!-- placed at end so pages load faster -->
    <script>
    /* JS code */
    </script>
  </body>
</html>
