<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <title>P.E.A.R.L.</title>

    <!-- Bootstrap -->
    <link href = "css/bootstrap.min.css" rel = "stylesheet">
    <link href = "css/custom.css" rel = "stylesheet">
    <link rel = "stylesheet" href = "css/font-awesome-4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Exo|Exo+2' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script-->
    <!--script type = "text/javascript" src = "js/custom.js"></script-->
    <script src = "js/jquery-2.2.3.js"></script>
    <script src = "js/bootstrap.min.js"></script>
    <!--script src = "js/getMeta.js"></script-->
</head>
<body>

    <!-- NAVIGATION BAR -->
	<div class = "navbar navbar-default navbar-fixed-top" role = "navigation">
    		<div class = "container">
    			<div class = "navbar-header">
    				<button type = "button" class = "navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    					<!-- for screen readers -->
    					<span class = "sr-only">Toggle navigation</span>
    					<span class = "icon-bar"></span>
    					<span class = "icon-bar"></span>
    					<span class = "icon-bar"></span>
    				</button>
    				<a class = "navbar-brand" href = "/">Parasite Extinction Assessment and Red List</a>
    			</div>

    			<div class = "navbar-collapse collapse">
    				<ul class = "nav navbar-nav navbar-right">
    					<li class = "active"><a href = "/">Home</a></li>
                        <li><a href = "/atlas">Atlas</a></li>
    					<li><a href = "/team">Team</a></li>
                        <li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle="dropdown">Spotlight Species<b class = "caret"></b></a>
                            <ul class = "dropdown-menu">
                                <!--li><a href = "/sobbat">Sob. Bat.</a></li-->
                                <li><a href = "/ABBREVIATA_BANCROFTI">Species: <i>Abbreviata bancrofti</i></a></li>
                                <li><a href = "/ABBREVIATA_HASTASPICULA">Species: <i>Abbreviata hastaspicula</i></a></li>
                                <li><a href = "/AGLENCHUS_AGRICOLA">Species: <i>Aglenchus agricola</i></a></li>
                            </ul>
                        </li>
                    </ul>
    			</div>
    		</div>
    	</div>

	<!-- Jumbotron -->
    <div class = "container-fluid stat-section">
        <div class = "row">
            <div class = "container">
                <div id = "home-push-top"></div>
                <div class = "row">
                    <div class = "col-md-1"></div>
                    <div class = "col-md-10">
                        <div class = "jumbotron">
                            <h1 style = "text-align: center"><strong style = "font-size: 150%">PEARL</strong></h1>
                            <br>
                        </div>
                    </div>
                    <div class = "col-md-1"></div>
                </div>
                <div class = "row">
                    <div class = "col-md-1"></div>
                    <div class = "col-md-10">
                        <h2 style = "text-align: center">The Parasite Extinction Assessment and Red List v0.1:</h2>
                        <h3 style = "text-align: center">The world's first parasite conservation database</h3>
                        <br>
                        <br>
                        <!--p class = "blockText" style = "text-align: center">Meet the international team of researchers who created the Parasite Extinction Assessment and Red List project.</p>
                        <br-->
                        <div class = "row">
                            <div class = "col-md-6">
                                <p style = "text-align: center"><a href="/atlas" id = "showAtlasBtn" class = "btn btn-info btn-lg showBtn" role="button"><i>Species Atlas</i></a></p>
                            </div>
                            <div class = "col-md-6">
                                <p style = "text-align: center"><a href="/team" id = "showTeamBtn" class = "btn btn-info btn-lg showBtn" role="button"><i>Meet the Team</i></a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "col-md-1"></div>
                </div>
                <div id = "home-push-bottom"></div>
            </div>
        </div>
    </div>

    <div class = "container-fluid img-section">
        <div class = "row">
            <div class = "container">
                <div class = "row">
                    <div id = "btn-push-top"></div>
                    <div class = "col-md-1"></div>
                    <div class = "col-md-10">
                        <div class = "row">
                            <h1 class = "home-text" style = "text-align: center">Sample Species:</h1>
                            <div id = "btn-push-mid"></div>
                            <div class = "col-md-4 col-sm-4">
                                <br>
                                <p class = "blockText home-text" style = "text-align: center">Users can flip between future distributions with and without dispersal for species <strong><i>Abbreviata bancrofti</i></strong>.</p>
                                <br>
                                <p style = "text-align: center"><a href="/ABBREVIATA_BANCROFTI" class = "btn btn-info btn-lg showBtn" role="button"><i>Abbreviata bancrofti</i></a></p>
                                <br>
                            </div>
                            <div class = "col-md-4 col-md-4">
                                <br>
                                <p class = "blockText home-text" style = "text-align: center">Users can flip between future distributions with and without dispersal for species <strong><i>Abbreviata hastaspicula</i></strong>.</p>
                                <br>
                                <p style = "text-align: center"><a href="/ABBREVIATA_HASTASPICULA" class = "btn btn-info btn-lg showBtn" role="button"><i>Abbreviata hastaspicula</i></a></p>
                                <br>
                            </div>
                            <div class = "col-md-4 col-md-4">
                                <br>
                                <p class = "blockText home-text" style = "text-align: center">Users can flip between future distributions with and without dispersal for species <strong><i>Aglenchus agricola</i></strong>.</p>
                                <br>
                                <p style = "text-align: center"><a href="/AGLENCHUS_AGRICOLA" class = "btn btn-info btn-lg showBtn" role="button"><i>Aglenchus agricola</i></a></p>
                                <br>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class = "col-md-1"></div>
                </div>
                <br>
                <br>
                <div class = "row">
                    <div class = "col-md-1"></div>
                    <div class = "col-md-10">
                        <div class = "row">
                            <div class = "col-md-4 col-sm-4">
                                <br>
                                <p class = "blockText home-text" style = "text-align: center">Users can flip between future distributions with and without dispersal for species <strong><i>Amblyomma tholloni</i></strong>.</p>
                                <br>
                                <p style = "text-align: center"><a href="/AMBLYOMMA_THOLLONI" class = "btn btn-info btn-lg showBtn" role="button"><i>Amblyomma tholloni</i></a></p>
                                <br>
                            </div>
                            <div class = "col-md-4 col-md-4">
                                <br>
                                <p class = "blockText home-text" style = "text-align: center">Users can flip between future distributions with and without dispersal for species <strong><i>Amblyomma triguttatum</i></strong>.</p>
                                <br>
                                <p style = "text-align: center"><a href="/AMBLYOMMA_TRIGUTTATUM" class = "btn btn-info btn-lg showBtn" role="button"><i>Amblyomma triguttatum</i></a></p>
                                <br>
                            </div>
                            <div class = "col-md-4 col-md-4">
                                <br>
                                <p class = "blockText home-text" style = "text-align: center">Users can flip between future distributions with and without dispersal for species <strong><i>Amblyomma variegatum</i></strong>.</p>
                                <br>
                                <p style = "text-align: center"><a href="/AMBLYOMMA_VARIEGATUM" class = "btn btn-info btn-lg showBtn" role="button"><i>Amblyomma variegatum</i></a></p>
                                <br>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class = "col-md-1"></div>
                    <div id = "btn-push-bottom"></div>
                </div>
            </div>
            <div id = "footer-push"></div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class = "footer">
        <div class = "container">
            <p class = "footer-text">The P.E.A.R.L. Project</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <!-- placed at end so pages load faster -->
    <script>
    /* JS code */
    </script>
  </body>
</html>
