<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <title>PEARL Prototype</title>

    <!-- Bootstrap -->
    <link href = "css/bootstrap.min.css" rel = "stylesheet">
    <link href = "css/custom.css" rel = "stylesheet">
    <link rel = "stylesheet" href = "css/font-awesome-4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Exo|Exo+2' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script-->
    <!--script type = "text/javascript" src = "js/custom.js"></script-->
    <script src = "js/jquery-2.2.0.min.js"></script>
    <script src = "js/bootstrap.min.js"></script>
    <!--script src = "js/getMeta.js"></script-->
</head>
<body>

    <!-- NAVIGATION BAR -->
	<div class = "navbar navbar-default navbar-fixed-top" role = "navigation">
    		<div class = "container">
    			<div class = "navbar-header">
    				<button type = "button" class = "navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    					<!-- for screen readers -->
    					<span class = "sr-only">Toggle navigation</span>
    					<span class = "icon-bar"></span>
    					<span class = "icon-bar"></span>
    					<span class = "icon-bar"></span>
    				</button>
    				<a class = "navbar-brand" href = "/sobbat"><%= title %></a>
    			</div>

    			<div class = "navbar-collapse collapse">
    				<ul class = "nav navbar-nav navbar-right">
    					<li><a href = "/">Home</a></li>
    					<li><a href = "/">About</a></li>
                        <li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle="dropdown">More PEARL<b class = "caret"></b></a>
                            <ul class = "dropdown-menu">
                                <li class="active"><a href = "/sobbat">Sob. Bat.</a></li>
                                <li><a href = "/foobar">Foo. Bar.</a></li>
                                <li class = "divider"></li>
                                <li class = "dropdown-header">PEARL Stuff</li>
                                <li><a href = "#">Example 1</a></li>
                                <li><a href = "#">Example 2</a></li>
                            </ul>
                        </li>
                    </ul>
    			</div>
    		</div>
    	</div>

	<!-- Jumbotron -->
	<div class = "container">

        <div class = "row">
            <div class = "col-md-12">
                <h2>See this Map</h2>

                <p class = "blockText">Here is a map for species Sob. Bat.:</p>
                <br>
                <div class = "modelWrapper">
                    <iframe id="myIframe" src = "/md-map" allowfullscreen="" frameborder="1.0">
                    </iframe>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-md-12">
                <h2>See Another Map</h2>

                <p class = "blockText">Here is another map:</p>
                <br>
                <div class = "modelWrapper">
                    <iframe id="myIframe" src = "/md-map" allowfullscreen="" frameborder="1.0">
                    </iframe>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-md-6"></div>
            <div class = "col-md-3">
                <form class = "navbar-form navbar-left" role = "search">
                    <div class = "form-group">
                        <input type = "text" class = "form-control" placeholder = "Show..." id = "showIfD">
                    </div>
                </form>
                <br>
                <button id="showD" class="btn btn-default">Show Dispersal Map</button>
            </div>
            <div class = "col-md-3">
                <form class = "navbar-form navbar-left" role = "search">
                    <div class = "form-group">
                        <input type = "text" class = "form-control" placeholder = "Show..." id = "showIfND">
                    </div>
                </form>
                <br>
                <button id="showND" class="btn btn-default">Show No Dispersal Map</button>
            </div>
        </div>
        <div id = "push"></div>
    </div>

    <!-- FOOTER -->
    <footer class = "footer">
        <div class = "container">
            <p class = "footer-text">Author: PEARL  ||  pearl@pearl.cool</p>
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<!-- placed at end so pages load faster -->
<script>
function checkErr() {

    $.ajax({
        url: '/sobbat',
        type: 'POST',
        cache: false,
        data: {
            numNode: 'test',
            numClass: 'test',
            isSex: 'test',
            isYoung: 'test',
            isOld: 'test',
            isMM: 'test',
            isDemo: 'test',
            isEnvir: 'test'
        },
        success: function (data) {
            alert('\nSuccess!\n');
            window.location = "/";
        },
        error: function (jqXHR, textStatus, err) {
            alert('\ntext status: ' + textStatus + ', err: ' + err);
        }
    });
    return true;
}

/* Switch between Dispersal and No Dispersal */
var $showD = $('#showD');
var $showND = $('#showND');

$(function() {

    $showD.click(function() {
        document.getElementById('showIfD').value = "You clicked Dispersal";
    });

    $showND.click(function() {
        document.getElementById('showIfND').value = "You clicked No Dispersal";
    });
})
</script>
</body>
</html>
