/*.container {
    margin-left: 20px;
    margin-right: 20px;
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-form {
    margin-left: -15px;
}

/*************************************************
********************* INDEX **********************
*************************************************/

#home-push-top {
    height: 120px;
}

#home-push-bottom {
    height: 120px;
}

#btn-push-top {
    height: 120px;
}

#btn-push-bottom {
    height: 120px;
}

#footer-push {
    height: 400px;
}

.home-text {
    color: rgba(238, 238, 238, 0.8);
}

.overview-text {
    background-color: rgba(238, 238, 238, 0.4);
}

.interact-text {
    background-color: rgba(238, 238, 238, 0.4);
}

/*************************************************
****************#** MAP PAGES ********************
*************************************************/

.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.model-text {
    background-color: rgba(238, 238, 238, 0.4);
}

.stat-section {
    background-color: rgba(238, 238, 238, 0.9);
}

.img-section {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-section {
    background-color: rgba(238, 238, 238, 0.9);
}

#top-push-top {
    height: 60px;
}

#top-push-bottom {
    height: 60px;
}

.hloss-box {
    outline: 1px solid black;
    background-color: #eab71e;
}

.erisk-box {
    outline: 1px solid black;
    background-color: #2db573;
}

.cstatus-box {
    outline: 1px solid black;
    background-color: #2db573;
}

/*************************************************
***************** MODEL WRAPPER ******************
*************************************************/

.modelContainer {
    width: 100%;
}

.modelWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 25px;*/
    /*padding-bottom: 70%;*/
    /*padding-top: 300px;*/
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.modelWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

/*************************************************
********************* BODY ***********************
*************************************************/

body {
    /*background: url('../img/mnt.jpg') no-repeat center center fixed;*/
    /*background: url('../img/fog-opac2.jpg') no-repeat center center fixed;*/
    background: url('../img/fog-fade.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tmpVars {
    padding-bottom: 25px;
}

/*.jumbotron {
    background-image: url("../move2.jpg");
    background-size: cover;
    height: 100%;
}
*/

.jumbotron {
    background-color: rgba(255, 0, 0, 0.0);
    padding: 0px;
    maring-bottom: 0px;
    text-align: center;
}

/*body {
	background-image: url('../mnt.jpg');
  background-repeat: no-repeat;
	position: bottom;
}*/

/*************************************************
******************* NAVIGATION *******************
*************************************************/


/*************************************************
******************** BUTTONS *********************
*************************************************/

.btn-info {
    /*color: #fff;*/
    color: rgba(0, 0, 0, 0.8);
    /*background-color: #5bc0de;*/
    background-color: rgba(184, 228, 241, 0.7);
    /*border-color: #46b8da;*/
    border-color: rgba(27, 72, 85, 0.7);
}

#showD1 {
    padding: 6px 27px;
}

#showD2 {
    padding: 6px 30px;
}

#showD3 {
    padding: 6px 19px;
}

#showD4 {
    padding: 6px 32px;
}

#showD5 {
    padding: 6px 21px;
}


/*************************************************
****************** CONTACT FORM ******************
*************************************************/

.form-group {
	padding-right: 100px;
}

/*************************************************
******************** JUMBOTRON *******************
*************************************************/

body {
	padding-top: 50px;
}

p {
	font-family: 'Exo', sans-serif;
}

/*************************************************
******************** CAROUSEL ********************
*************************************************/

.carousel-black {
	text-shadow: 1px 0 0 #000, 0 1px 0 #000;
}

/* thumbnails */

.allThumbs {
	padding-top: 30px;
}

.home-thumb img:hover {
	transform: scale(1.2);
}

.thumbnail img {
	transition: all 0.3s ease 0s;
	width: 100%;
}

.thumbnail {
	overflow: hidden;
}

.bg-grey {
	background-color: #f9f9f9;
}

/*************************************************
********************* FOOTER *********************
*************************************************/

#push {
    height: 500px;
}

#img-push-bottom {
    height: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.container .footer-text {
    margin: 20px 0;
}

.footer-text {
    color: #9d9d9d;
}
