.bubble {
  fill: brown;
  fill-opacity: 0.7;
  stroke: #000;
  stroke-width: 1.8px;
}

.bubble :hover {
	fill: #000;
	fill-opacity: 0.4;
}

.enter {
  fill: #CC0066;
  fill-opacity: 0.4;
  stroke: #000;
  stroke-width: 1.8px;
}

.enter :hover {
	fill: #000;
	fill-opacity: 0.4;
    stroke: #000;
    stroke-width: 3.0px;
}

.county {
	fill: red;
	fill-opacity: 0.15;
	stroke: #000;
	stroke-width: 1.8px;
}

.border {
  fill: none;
  stroke: #000;
  stroke-width: 3.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.exit {
	fill: brown;
	fill-opacity: 0.5;
}

.exit: hover {
	fill: #000;
}

/*#pop2012 {
  left: 1100px;
  position: absolute;
  top: 320px;
  width: 120px;
}

#pop2005 {
  left: 1100px;
  position: absolute;
  top: 350px;
  width: 120px;
}*/
